body {
    background-color: #1d1a1a;
    text-align: center;
}

* {
    text-align: center;
}

#botao-inicial {
background-color: yellow;
color: white;
text-shadow: black 3px 2px 2px;
background-size: cover;
padding: 15px 32px;
background-repeat: no-repeat;
font-size: 18px;
border: none;
text-decoration: none;
cursor: pointer;
border-radius: 12px;
}

#botao-inicial2 {
background-color: rgb(0, 204, 255);
color: white;
text-shadow: black 3px 2px 2px;
background-size: cover;
padding: 15px 32px;
background-repeat: no-repeat;
font-size: 18px;
border: none;
text-decoration: none;
cursor: progress;
border-radius: 12px;
}

#botao-inicial3 {
background-color: rgb(255, 0, 0);
color: white;
text-shadow: black 3px 2px 2px;
background-size: cover;
padding: 15px 32px;
background-repeat: no-repeat;
font-size: 18px;
border: none;
text-decoration: none;
cursor: not-allowed;
border-radius: 12px;
}

#ei {
    border-bottom: #ffffff 2px solid;
}

#botao {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: black 3px 2px 2px;
    cursor: pointer;
}

h1 {
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-shadow: black 4px 2px 2px;;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
        color: #ffffff;
    text-align: center;
    text-shadow: black 4px 2px 2px;;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}